#pictogram{
    margin-left: 20%;
    margin-right: auto;
    width: 1024px;
    /*height: 200px;*/
}

#pictogram2{
    margin-left: 20%;
    margin-right: auto;
    width: 1024px;
    /*height: 200px;*/
}

/*#sliderDiv  {*/
    /*margin:10px;*/
    /*margin-top:30px;*/
    /*height:15px;*/
    /*width:350px;*/
/*}*/

#pictogram svg {
    /*padding:10px;*/
    float:left;
    width:1500px;
    /*width:1024px;*/
    /*height:200px;*/
    margin-bottom: -55px;
}

#pictogram2 svg {
    /*padding:10px;*/
    float:left;
    width:1500px;
    /*width:1024px;*/
    /*height:200px;*/
    margin-bottom: -110px;
}

/*text    {*/
    /*fill:orange;*/
    /*text-anchor:left;*/
    /*font-size:12px;*/
    /*font-family:sans-serif,Helvetica,Arial;*/
    /*font-weight:bold;*/
/*}*/

.iconPlain  {
    /*fill:white;*/
    fill:#555555;
}

.iconSelected  {
    fill:orange;
}

.iconHidden{
    fill:#ffffff;
}

rect    {
    /*fill:#555555;*/
    fill: #ffffff;
    font-size: small;
}

#pictogram text{
    font-size: 5px;
}

#pictogram2 text{
    font-size: 5px;
}

#pictographs{
    overflow: hidden;
}
