
.country:hover{
    stroke: #fff;
    stroke-width: 1.5px;
}
.text{
    font-size:10px;
    text-transform:capitalize;
}
#container {
    /*margin:10px 10%;*/
	margin-left: 10%;
    margin-right: 2%;
    border:2px solid #000;
    border-radius: 5px;
    height:100%;
    overflow:hidden;
    background: #F0F8FF;
}
.hidden {
    display: none;
}
div.tooltip {
    color: #222;
    background: #fff;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 0px #a6a6a6;
    opacity: 0.9;
    position: absolute;
}
.graticule {
    fill: none;
    stroke: #bbb;
    stroke-width: .5px;
    stroke-opacity: .5;
}
.equator {
    stroke: #ccc;
    stroke-width: 1px;
}


/*custom*/
#map{
    overflow:hidden;
}

#container{
    width: 1200px;
    float: left;
}

#div_legend{
    width: 100px;
    float: left;
}

#dataVis{
    width: 100%;
    overflow: hidden;
    padding: 10px;
}

#sidebar{
    float: left;
    width: 400px;
}

#visContent{
    margin: 0 0 0 200px;
}