body{
    font-family: 'Roboto', sans-serif;
}
#prose{
    /*background: #3664c0;*/
    padding-top: 20px;
    padding-bottom: 20px;
}

#prose p{
    /*background: #3664c0;*/
    /*text-align: center;*/
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    color:#3a3a3a;
    /*max-width: 600px;*/
}

#prose h3{
    color:#3a3a3a;
    /*text-align: center;*/
}

h1{
    /*text-align: center;*/
}