.wrapper {
      width: 800px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
    margin-bottom: 10px;
    }

    /*.wrapper > div {*/
      /*margin: 625px 0;*/
    /*}*/

#slider11{
    margin-top: auto;
}