
body {
    font-family: Verdana,Arial,sans-serif;
    background: #f7f7f7;
}

h1 {
    margin: 60px 0 5px 0;
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

#serious {
    text-align: center;
}

#donation-table {
    text-align: center;
    background-color: rgba(255, 255, 0, 0.18);
}

#footer {
    text-align: center;
    color: grey;
}


.wrapper {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper > div {
    margin: 35px 0;
}

#slider8 {
    height: 250px;

}

#slider-holder {
    margin: auto;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}

