<script src="/socket.io/socket.io.js"></script>

<script>
  var socket = io.connect('http://localhost:2500');
  socket.on('news', function (data) {
    console.log(data.hello);
	document.getElementById("response").innerHTML = data.hello;
    socket.emit('talktoserver', { my: 'data' });
  });
</script>

<div id="response"></div>
