/*bubble colors*/


/*Donors*/
/*North America*/
.can, .usa {fill: #00cfba;}

/*South America*/
.gbr {fill: #E27A3F;}

/*Europe*/
.gbr, .ger, .ita, .aut, .nor {fill: #0199ff;}
.ukr{fill: #0199ff;}
/*Africa*/
.ngr, .gui, .mad, .cmr, .geq, .eth, .som, .sud {fill: #DF4949;}


/*Asia*/
.jpn, .rus, .ind {fill: #ffcc06;}
.afg, .pak, .ind, .lao, .irq, .isr, .syr  {fill: #ffcc06;}

/*Australia*/
.aus {fill: #40c528;}


/*slider*/
#slider label {
    position: absolute;
    width: 20px;
    margin-left: -10px;
    text-align: center;
    margin-top: 20px;
}

/* below is not necessary, just for style */
#slider {
    width: 75%;
    margin: 2em auto;
}

.container{
    width: 100%;
    padding-left: 10%;
    padding-right:10%;
}

#myDescription{
    background: #eeeeee;
    padding: 2%;
}